.python-version
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
*.log
.hypothesis
.coverage
coverage.xml
.DS_Store
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip
docs/build
docs/_build

# vim temporary files
*~
.*.sw?
